<%= render :partial => 'index' %>

<h3 id="arrakis">Arrakis</h3>
<li>Je planetou kde je produkována melanž. Tato planeta je jen jedna jediná ve známém vesmíru.</li>
<li>Zde lze budovat Továrny na koření. Produkce továren je ovlivněno výzkumem investice do koření. Pro impérium je vhodné postavit co nejdříve maximální počet Továren a aby Místodržící měl vysoký výzkum v Investice do koření. </li>
<li>Držitel léna na Arrakis je hráč zvolený Landsraadem. Jmenuje jej Imperátor. Jinak je nazývám Místodržící nebo Správce pololéna</li>
<li>Pokud je Místodržící odvolán v následujícím přepočtu není produkována melanž. Místodržícího je možné pasovat až po třech dnech.</li>
<li>Vyprodukovaná melanž je přeposílána do Landraadu a Landsraad ji přerozděluje dále mezi rody. Hráčům melanž zasílá vedení Velkorodů.</li>
