<%= render :partial => 'index' %>

<h3 id="budovy">Budovy</h3>
<li><b>Město</b> - Produkuje novou populaci. Zvýšení přírůstku je ovlivněno výzkumem.</li>
<li><b>Trh</b> - Slouží k produkování Solárů. Zvýšení produkce je ovlivněno výzkumem.</li>
<li><b>Důl</b> - Slouží k produkci Materiálu. Zvýšení produkce je ovlivněno výzkumem.</li>
<li><b>Laboratoř</b> - Slouží k produkci Výzkumných bodů (Expů). Zvýšení produkce je ovlivněno výzkumem.</li>
<li><b>Továrna</b> - Slouží k produkci výrobků.  Zvýšení produkce je ovlivněno výzkumem.</li>
<li><b>Planetární obrana (PO)</b> - Vytváří obranu proti útoku z vesmíru.  Zvýšení produkce je ovlivněno výzkumem.</li>
