<table class="tab0">
  <tr>
    <td class="drob">
      <%= link_to '⌂', help_path %>
      » <%= link_to 'Arrakis', help_arrakis_path %>

    </td>

    <%= render :partial => 'index' %>
    
  </tr>
</table>

<h2 id="kom">Komunikace ve hře</h2>
Ve hře slouží několik komunikačních kanálů. Krom soukromé pošty lze využít i Syselaady. Syselaady jsou fora určená jak pro celé Impérium tak pro menší skupiny (Malorody, Velkorody).
