<table class="tab0">
  <tr>
    <td class="drob">
      <%= link_to '⌂', help_path %>
      » <%= link_to 'Arrakis', help_arrakis_path %>

    </td>

    <%= render :partial => 'index' %>
    
  </tr>
</table>

<h2 id="kom">Komunikace ve hře</h2>
Ve hře slouží několik komunikačních kanálů. Krom soukromé pošty lze využít i Syselaady. Syselaady jsou fora určená jak pro celé Impérium tak pro menší skupiny (Malorody, Velkorody).

<h2 id="kom">Druhy pošty</h2>
<b>Soukromá a Hromadná pošta</b> je určena pro soukromou komunikaci. Adresát je 
vždy zvolen. Můžete zde zvolit více adresátů. Není barevně odlišena - oranžová.
<br><b>Malorodní</b> mohou posílat generálové a vicegenerálové. Adresátem jsou
všichni členové jejich Malorodu. Je označena tmavě oranžovou barvou předmětu.
<br><b>Generálům</b> je pošta určená generalitě stejného rodu. Mohou je posílat 
vůdcové, mentati a generálové mezi sebou. 
<br><b>Národní</b> je určena pro všechny členy stejného rodu. Posílají ji vůdcové,
mentati a diplomati. Je označena červenou barvou. 
<br><b>Landsraadní</b> je určena členům Landsraadu. Posílají ji také členové Landsraadu. 
Je označena azurovou barvou.
<br><b>Imperiální</b> je určena všem hráčům a odesílatelem je Imperátor. Je označena
fialovou barvou.
<br><b>Diplomatická pošta</b> je určena všem diplomatům a vůdcům rodů. Odesilají 
ji diplomaté a vůdci. Tento typ pošty je označen bílým textem předmětu
<br><b>Adminská</b> Oznámení administrátorů všem. Je označena tučně bíle.

