<%= render :partial => 'index' %>

<h2 id="landsraad">Landsraad</h2>

<h3 id="poslanec">Poslanec</h3>
<li>Poslanec je volen členy vašeho Velkorodu. Volby probíhají každou neděli. Váš hlas můžete průběžně měnit.</li>
<li>Zastupuje vás dále zastupuje v Landsraadu. Zde volí Imperátora, předkládá a schvaluje zákony, rozhoduje o přerozděleni melanže.</li>
<li>Počet poslanců, kteří z vašeho rodu postoupí do Landsraadu, udává podíl vašeho národního vlivu v celkovém vlivu impéria. </li>
<li>Než jsou poslanci zvoleni, sedí na jejich místě vůdcové jednotlivých Velkorodů. Ti mají možnost zvolit Imperátora než zasedne celý Landsraad.</li>

<h3 id="imperator">Imperátor a regenti</h3>
<li>Po sestavení Landsraadu musí poslanci rozhodnout o budoucím Imperatorovi. </li>
<li>Pokud Imperátor neni zvolen je ohrožena produkce na Arrakis, jelikož není nikdo kdo by jmenoval Držitele pololéna na této jedinečné planetě.</li>
<li>Pokud Landsraad nerozhodne o Imperátorovi nahradí jej až tři regenti ve správě Impéria. Tito zástupci na postě nejvyššího ale nemohou jmenovat Místodržícího!</li>
<li>Imperátor, ale i regenti, nastavuje rozdělení melanže mezi jednotlivými rody.</li>
<li>Imperátor má možnost verbovat speciální elitní jednotky - Imperiální gardu. </li>
<li>Imperátor je odvolatelný a zodpovídá se Landsraadu.</li>

<h3 id="zakon">Zákon</h3>
<li>Předkládají jej poslanci, Imperátor, Vezíři.</li>
<li>Všichni občané Impéria jsou povinni zákony plnit.</li>
<li>Nad plněním zákonů dohlíží Imperátor a jeho dvůr.</li>

<h3 id="dvůr">Vezíři a Imperiální dvůr</h3>
<li><b>Vezíři</b> jsou jednoduše zástupci Imperátora. Mohou vykonávat základní správu, ale nemohou jmenovat Místodržícího.</li>
<li>Imperiální dvůr jsou vybranou smetánkou z celého Impéria. Jsou součástí a mnohdy i produktem Imperiálních intrik. Díky blízké pozici k nejvyšší politice mají bonus do svého vlivu.</li>
<li>Maximální počet dvořanů je 20. </li>