<%= render :partial => 'index' %>

<h3 id="planety">Planety</h3>
<li>Planetu obsazují samy Velkorody díky kolonizaci. </li>
<li>Kolonizace je finančně značně náročná a platí Melanž a Soláry. Cena kolonizace roste s počtem planet v Impériu.</li>
<li>Na planetě je hned několik lén k osídlení. Planety mají také různý bonus do produkce. </li>

<h3 id="lena">Léna</h3>
<li>Léna jsou území na planetách, které si mohou osídlit hráči jako území pro stavbu budov. </li>
<li>Za Osídlení léna se platí Melanž a Soláry. Cena léna roste s počtem lén, která jsou již na planetě osídlena.</li>

<h3 id="lena">Události na planetách a lénech</h3>
<li>Na planetě nebo léně může dojít k události, která ovlivní celkovou produkci.</li>
<li>Důsledky jsou kladné nebo i záporné bonusy.</li>
<li>Poplatkem lze událost zrušit.</li>