<table class="tab0">
  <tr>
    <td class="drob">
      <%= link_to '⌂', help_path %>
      » <%= link_to 'Přesun', help_presun_path %>

    </td>

    <%= render :partial => 'index' %>
    
  </tr>
</table>

<h2 id="presun">Přesun surovin hráče Malorudu nebo Velkorodu</h2>
Pokud hráč posílá materiál a výrobky Malorodu či Velkorodu, posílá je z domovské planety. Je tedy potřeba přesunout komodity na domovskou planetu a poté dále.
<br>Výzkumné body, melanž a Soláry jsou globálním platidlem, které hráč vlastní globálně na všech planetách.
