<%= render :partial => 'index' %>

<h3 id="presun">Přesun surovin hráče Malorudu nebo Velkorodu</h3>
<li>Pokud hráč posílá materiál a výrobky Malorodu či Velkorodu, posílá je z domovské planety. Je tedy potřeba přesunout komodity na domovskou planetu a poté dále.</li>
<li>Výzkumné body, melanž a Soláry jsou globálním platidlem, které hráč vlastní globálně na všech planetách.</li>
