<%= render :partial => 'index' %>

<h2 id="sprava">Správa Velkorodu a Malorodu</h2>
<li>Hra je založena na demokratických principech. Ve “Správa hráče a volby” můžete dát svůj hlas Vůdci národa, generálovi malorodu, nebo poslanci.</li>
<li><b>Vůdce</b> je voleným zástupce národa v Landsraadu a Impériu. Vykonává národní správu a volí sví zástupce.</li>
<li>Zástupci vůdce jsou:
  <b>Mentat</b> (veškeré ekonomické transkace v národě),
  <b>Vojenský mentat</b> (přesuny jednotek v národě. Koordinace národa během války) a <b>Diplomat</b> (smí psát v Landsraadu, komunikovat v diplomatické (mezinárodní) poště a nastavovat diplomatické vztahy mezi národy)</li>
<li><b>Generál</b> je zvolený vedoucí malorodu, nebo se jím stane ihned po založení malorodu. Jeho zástupci jsou vicegenerálové. <b> Vicegenerálové</b> mají možnost kontrolovat sklad malorodu, nemohou ale vylučovat členy malorodu a volit další vicegenrály.</li>
<li><b><a name="poslanec">Poslanec</a></b></li>