<table class="tab0">
  <tr>
    <td class="drob">
      <%= link_to '⌂', help_path %>
      » <%= link_to 'Správa', help_sprava_path %>

    </td>

    <%= render :partial => 'index' %>
    
  </tr>
</table>

<h2 id="sprava">Správa Velkorodu a Malorodu</h2>
Hra je založena na demokratických principech. Ve “Správa hráče a volby” můžete dát svůj hlas Vůdci národa, generálovi malorodu, nebo poslanci.
<br><b>Vůdce</b> je voleným zástupce národa v Landsraadu a Impériu. Vykonává národní správu a volí své zástupce.</li>
Zástupci vůdce jsou:
  <li><b>Mentat</b> dbá o veškeré ekonomické transakce v národním skladě. Smí posílat poštu celému Velkorodu.</li>
  <li><b>Vojenský mentat</b> stará se o přesuny jednotek v národě. Koordinuje Velkorod během války a také smí posílat poštu celému Velkorodu.</li>
  <li><b>Diplomat</b> smí psát v Landsraadu, komunikovat v diplomatické (mezinárodní) poště a nastavovat diplomatické vztahy mezi národy</li>
<br>Krom vůdce a jeho zástupců najdete ve hře také další důležité postavy ve vašem Velkorodu:
  <li><b>Generál</b> je zvolený vedoucí malorodu, nebo se jím stane ihned po založení malorodu. Generál spravuje sklad vašeho malorodu a smí rozesílat ppoštu malorodu a ostatním generálům. </li>
  <li><b>Vicegenerál</b> je zástupce generála, kterého generál pověřil. Má všechny generálovy pravomoci, nemůže ale vyhazovat a přijímat nové hráče do malorodu. Počet vicegenerálu není omezen.</li>
  <li><b>Poslanec</b> viz. <%= link_to 'Landsraad', help_landsraad_path %></li>