<%= render :partial => 'index' %>

<h3 id="transport">Přesun surovin mezi lény</h3>
<li>Mezi lény je možné přesunout vyprodukovaný materiál, výrobky a populaci. Poplatek za přesun je 5% přesouvané komodity.</li>
<li>Pokud je léno dobyto a jsou na něm obsaženy komodity, hráči je zasláno na domovské léno 20% těchto surovin a zbylé suroviny získává dobyvatel. </li>
<li>Výzkumné body, melanž a Soláry jsou globálním platidlem, které hráč vlastní globálně na všech planetách.</li>
