<table class="tab0">
  <tr>
    <td class="drob">
      <%= link_to '⌂', help_path %>
      » <%= link_to 'Trh a obchod', help_trh_path %>

    </td>

    <%= render :partial => 'index' %>
    
  </tr>
</table>

<h2 id="trh">Trh</h3>
Slouží k prodeji materiálu, melanže nebo výzkumu. Platidlem jsou soláry. Cena se
 udává za jeden kus.

<br><br> 
<h3>Trh - Vaše nabídky</h3>
Hráč může jednou za hodinu cenu zvednou nebo snížit. Pokud hráč stáhne nabízenou 
komoditu, přijde o 30% toho co je v trhu.
