<%= render :partial => 'index' %>

<h3 id="trh">Trh</h3>
<li>Slouží k prodeji materiálu, melanže nebo výzkumu</li>
<li>Platidlem jsou soláry. Cena se udává za jeden kus.</li>
<li>Hráč může jednou za hodin cenu zvednou nebo snížit. <li>
<li>Pokud hráč stáhne nabízenou komoditu, přijde o 30% toho co je v trhu.<li>