<%= render :partial => 'index' %>

<h2 id="vyzkum">Výzkum</h2>

<h3 id="vyzkum_hrac">Výzkum hráče</h3>
Vývojem výzkumu získáváte bonusy a nové typy budov. Platidlem za výzkum jsou zkušenosti (expy) produkované v laboratořích.

<h3 id="vyzkum_narodni">Malorodní výzkum</h3>
Stejně jako u výzkumu hráče ziskáváte bonusy do několika odvětví, tentokrát ale v rámci malorodu.

<h3 id="vyzkum_narodni">Národní výzkum</h3>
Stejně jako u výzkumu hráče ziskáváte bonusy do několika odvětví, tentokrát ale v rámci celého rodu.

<h3 id="vyzkum_druhy">Přehled odvětví výzkumu</h3>

<li><b>Investice do infrastruktury</b> - -2% cena budov  7. lvl = povolení stavby Velkoměsto 14. lvl = povolení stavby Metropole</li>
<li><b>Investice do ekonomiky</b> - +2% produkce solárů Trh 7. lvl = povolení stavby Banka 14. lvl = povolení stavby Sídlo CHOAMu</li>
<li><b>Investice do průmyslu</b> - +2% produkce materiálu 7. lvl = povolení stavby Hlubinný důl 14. lvl = povolení stavby Orbitální doly</li>
<li><b>Investice do výzkumu</b> - +2% produkce výzkumných bodů 7. lvl = povolení stavby Výzkumné centrum 14. lvl = povolení stavby Univerzita</li>
<li><b>Investice do koření</b> - +2% produkce melanže na Arrakis 6. lvl = povolení stavby Kasárna na Arakis</li>
<li><b>Investice do armády</b> - </li>
<li><b>Investice do výroby</b> - +2% kapacita továren  7. lvl = povolení stavby Továrna</li>
<li><b>Investice do pěchoty</b> - +2% kapacita kasáren 1. lvl = povolení stavby Kasárna</li>
<li><b>Investice do flotily</b> - +2% kapacita loděnic 1. lvl = povolení stavby Loděnice 7. lvl = povolení stavby Planetární obrana</li>
<li><b>Bojová technika</b> - +2% útok pozemních jednotek</li>
<li><b>Obraná technologie</b> - +2% HP pozemních jednotek </li>