# encoding: UTF-8
<table class="tab0">
  <tr>
    <td class="drob">
      <a href="index.htm" title="Home">⌂</a>
      » <%= link_to "Přijaté zprávy", messages_path %>

    </td>

    <td class="tdd">
      <ul class="menud">
        <li><a title="Filtrováním přenastavíte zobrazená data.">Filtrovat druh »</a>
          <ul>
            <li class="filterPosta"><a href="#">Soukromá zpráva</a>

            <li class="filterPosta"><a href="#">Malorodní</a>
            <li class="filterPosta"><a href="#">Generálům</a>
            <li class="filterPosta"><a href="#">Národní</a>
            <li class="filterPosta"><a href="#">Diplomatická</a>
            <li class="filterPosta"><a href="#">Imperiální</a>
          </ul>
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="center"><span class="druhPosty"></span></td>
  </tr>
</table>
<div id="pagination"></div>
<table class="tab1" id="opica">
  <tr>
    <th class="l">Čas</th>
    <th>Odesilatel</th>
    <th>Národ</th>
    <th class="r" style="width:240px">Předmět pošty</th>
  </tr>





  <%= form_tag trash_path %>
  <%= render :partial => "message", :collection => @messages %>
  <tr>
    <td colspan="4" ><%= submit_tag "Vymaz", :class => "fright", :confirm => "Opravdu chcete odstranit zpravu?" %></td>


  </tr>




</table>

<br/>




