<div id="notation"></div>
<table class="tab0">
  <tr>
    <td class="drob">
      <a href="index.htm" title="Home">⌂</a>
      » <a href="/posta/new">Nova Posta</a>

    </td>
    



  </tr>
</table>
<%= render 'form' %>
<br>
<%= link_to 'Zpět', messages_path %>