<table class="tab0">
  <tr>
    <td class="drob">
      <a href="" title="Home">⌂</a>
      » <a href="/odoslane/">Odoslane</a>

    </td>

    <td class="tdd">
      <ul class="menud">
        <li><a title="Filtrováním přenastavíte zobrazená data.">Filtrovat druh »</a>
          <ul>
            <li><a href="kom-soukroma.htm">Soukromá zpráva</a>
            <li><a href="kom-soukroma.htm">Malorodní</a>
            <li><a href="kom-soukroma.htm">Generálům</a>
            <li><a href="kom-soukroma.htm">Národní</a>
            <li><a href="kom-soukroma.htm">Diplomatická</a>
            <li><a href="kom-soukroma.htm">Imperiální</a>
          </ul>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table class="tab1">
  <tr>
    <th class="l">Čas</th>
    <th>Odesilatel</th>
    <th>Národ</th>
    <th class="r" style="width:240px">Předmět</th>
  </tr>






  <%= render :partial => "message", :collection => @posta || "Nemate ziadnu odoslanu postu" %>
  <tr id="novaposta">


</table>

<br />