<div id="notation"></div>
<table class="tab0">
  <tr>
    <td class="drob">
      <a href="index.htm" title="Home">⌂</a>
      » <a href="/posta/odpovedat">Odpovedat</a>

    </td>


  </tr>
</table>
<%= render 'form' %>

<%= link_to 'Back', posta_path %>