<table class="tab3">
  <%= form_tag :vyves_imp_nastenku do %>
      <tr>
        <th>

          <%= submit_tag "ZVEREJNIT IMPERIÁLNÍ NÁSTENKU", :title => "ODESLAT", :class => "ok4" %>
          
          <img style="float:right" src="<%= asset_path 'css/info2.png' %>" title="Je povoleno maximálne 700 znaků v HTML kódu nástěnky! Mezi povolené znaky se počítají i schválené tagy patří <b>, <a>, <i>, <u>, <h2>, <h3>, <img>, <br>, <li> a jejich prové tagy pro zrušení zrušení.">

        </th>

      </tr>
      <tr>
        <td>
          <%= text_area_tag 'dashboard', House.imperium.house_dashboard, class: 'text_area' %>
        </td>
      </tr>
  <% end %>
</table>