<table class="tab3">
  <%= form_tag :vyves_nastenku do %>
      <tr>
        <th>
        
        <img style="float:right" src="<%= asset_path 'css/info2.png' %>" title="Je povoleno maximálne 700 znaků v HTML kódu nástěnky! Mezi povolené znaky se počítají i schválené tagy patří <b>, <a>, <i>, <u>, <h2>, <h3>, <img>, <br>, <li> a jejich prové tagy pro zrušení zrušení.">
        
        <%= submit_tag "AKTUALIZOVAT NÁRODNÍ NÁSTĚNKU", :title => "ODESLAT", :class => "ok4" %>
        
        
        
        </th>
      </tr>
      <tr>
        <td>
        <%= text_area_tag 'dashboard', current_user.house.house_dashboard, :class => 'nastenka' %>
          
        </td>
      </tr>
      <% end %>
</table>