<% title "New Topic" %>
<table class="tab0">
  <tr>
    <td class="drob">
      <a href="#" title="Home">⌂</a>
      » <a href="#">Syselaad</a>
      » <a href="#">Založit nové vlákno diskuse</a>
    </td>
  </tr>
</table>
    
<%= render 'form' %>

<!--- <p><%= link_to "Back to List", topics_path %></p> -->
