<% title "Nový příspěvek" %>

<table class="tab0">
  <tr>
    <td class="drob">
      <a href="#" title="Home">⌂</a>
      » <a href="#">Syselaad</a>
      » <a href="#">Zaslání odpovědi</a>
    </td>
  </tr>
</table>

<%= render 'form' %>

<!--- <p><%= link_to "Back to List", posts_path %></p> --->
