<% title "Nový příspěvek" %>

<%= render 'form' %>

<p><%= link_to "Back to List", posts_path %></p>


<table class="tab3">
	<tr>
		<th colspan="10">
    
      <input type="button" value="ODESLAT" title="ODESLAT" class="ok4" style="margin-right: 30px;">

    </th>
	</tr>
	<tr>
		<td>
			<textarea></textarea>
		</td>
	</tr>
</table>