<table class="tab0">
  <tbody><tr>	<td>
    <a href="index.htm" title="Home">⌂</a>
    » <a href="army.htm">Armáda</a>
  </td>

  </tr>
  </tbody></table>

<table class="tab1">
  <tbody><tr>
    <td class="tdpl" rowspan="2" style="width:130px; background-image: url(assets/jednotky/warmentat.png)"></td>
    <th style="min-width:80px;"> Síla armády</th>
    <th style="min-width:80px;"> Armádní žold</th>
    <th> Obrana</th>
    <th class="r"> Útok</th>
  </tr><tr>

    <td>
      <li><img src="assets/css/utok-pozemni.png" alt="Pozemní obrana"> 100
      </li><li><img src="assets/css/obrana-pozemni.png" alt="Pozemní obrana"> 100
    </li><li><img src="assets/css/utok-vesmir.png" alt="Pozemní obrana"> 100
    </li><li><img src="assets/css/obrana-vesmir.png" alt="Pozemní obrana"> 100

    </li></td>

    <td>
      <li><%= img_solary %> <span class="oranzova">- 100.00</span>      </li>
      <li><%= img_melanz %><span class="oranzova"> - 5.00</span>
    </li></td>

    <td>
      <li>Dnes na vás nebyl veden žádný útok.
      </li></td>

    <td>
      <li>Dobyl jste planetu hráče <a href="profil.htm">Profil</a> (Riches)
      </li><li>Neúspěšně jste útočil na hráče <a href="profil.htm">Profil</a> (Riches)
    </li><li>Neúspěšně jste útočil na hráče <a href="profil.htm">Profil</a> (Riches)
    </li></td>

  </tr>
  </tbody></table>

<table class="tab4">
  <tbody><tr>
    <th class="thf" colspan="5">

      <select>
        <option value="planeta">Riches</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
      </select>

      Vaše jednotky na vybraných planetách
    </th>
  </tr>

  <tr>
    <th style="background-image: url(assets/jednotky/jedp8.png)">
      <a href="army-sablony.htm">Kyborg</a>
      <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-pozemni.png)" value="10">
        <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-pozemni.png)" value="5">
      </li><li>
      <a class="none" href="army-verbovani.htm">
        <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(css/jed-pozemni.png)" value="10">
      </a>
    </li><li>  <input type="text" title="Zvolte počet jednotek" style="width: 83px !important; background-image: url(css/poslatjednotky.png)">
    </li></th>

    <th style="background-image: url(assets/jednotky/jedp2.png)">
      <a href="army-sablony.htm">Jméno (max15zn)</a>
      <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-pozemni.png)" value="10">
        <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-pozemni.png)" value="5">
      </li><li>
      <a class="none" href="army-verbovani.htm">
        <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(css/jed-pozemni.png)" value="10">
      </a>
    </li><li>  <input type="text" title="Zvolte počet jednotek" style="width: 83px !important; background-image: url(css/poslatjednotky.png)">
    </li></th>

    <th style="background-image: url(assets/jednotky/jedp3.png)">
      <a href="army-sablony.htm">Jméno (max15zn)</a>
      <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-pozemni.png)" value="10">
        <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-pozemni.png)" value="5">
      </li><li>
      <a class="none" href="army-verbovani.htm">
        <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(css/jed-pozemni.png)" value="10">
      </a>
    </li><li>  <input type="text" title="Zvolte počet jednotek" style="width: 83px !important; background-image: url(css/poslatjednotky.png)">
    </li></th>

    <th style="background-image: url(assets/jednotky/jedp4.png)">
      <a href="army-sablony.htm">Jméno (max15zn)</a>
      <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-pozemni.png)" value="10">
        <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-pozemni.png)" value="5">
      </li><li>
      <a class="none" href="army-verbovani.htm">
        <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(css/jed-pozemni.png)" value="10">
      </a>
    </li><li>  <input type="text" title="Zvolte počet jednotek" style="width: 83px !important; background-image: url(css/poslatjednotky.png)">
    </li></th>

    <th style="background-image: url(assets/jednotky/jedp5.png)">
      <a href="army-sablony.htm">Jméno (max15zn)</a>
      <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-pozemni.png)" value="10">
        <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-pozemni.png)" value="5">
      </li><li>
      <a class="none" href="army-verbovani.htm">
        <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(css/jed-pozemni.png)" value="10">
      </a>
    </li><li>  <input type="text" title="Zvolte počet jednotek" style="width: 83px !important; background-image: url(css/poslatjednotky.png)">
    </li></th>

  </tr>

  <tr><th style="background-image: url(assets/jednotky/jedv2.png)">
    <a href="army-sablony.htm">Obranný satelit</a>
    <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-vesmir.png)" value="10">
      <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-vesmir.png)" value="5">
    </li><li>
    <a class="none" href="army-verbovani.htm">
      <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(css/jed-vesmir.png)" value="10">
    </a>
  </li><li>  <input type="text" title="Celkový počet jednotek tohoto typu" style="width: 83px !important; background-image: url(css/poslatjednotky.png)">
  </li></th>

    <th style="background-image: url(assets/jednotky/jedv3.png)">
      <a href="army-sablony.htm">Jméno (max15zn)</a>
      <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-vesmir.png)" value="10">
        <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-vesmir.png)" value="5">
      </li><li>
      <a class="none" href="army-verbovani.htm">
        <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(css/jed-vesmir.png)" value="10">
      </a>
    </li><li>  <input type="text" title="Celkový počet jednotek tohoto typu" style="width: 83px !important; background-image: url(css/poslatjednotky.png)">
    </li></th>

    <th style="background-image: url(assets/jednotky/jedv4.png)">
      <a href="army-sablony.htm">Jméno (max15zn)</a>
      <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-vesmir.png)" value="10">
        <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-vesmir.png)" value="5">
      </li><li>
      <a class="none" href="army-verbovani.htm">
        <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(image/cssimage/jed-vesmir.png)" value="10">
      </a>
    </li><li>  <input type="text" title="Celkový počet jednotek tohoto typu" style="width: 83px !important; background-image: url(image/cssimage/poslatjednotky.png)">
    </li></th>

    <th style="background-image: url(assets/jednotky/jedv5.png)">
      <a href="army-sablony.htm">Jméno (max15zn)</a>
      <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-vesmir.png)" value="10">
        <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-vesmir.png)" value="5">
      </li><li>
      <a class="none" href="army-verbovani.htm">
        <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(image/cssimage/jed-vesmir.png)" value="10">
      </a>
    </li><li>  <input type="text" title="Celkový počet jednotek tohoto typu" style="width: 83px !important; background-image: url(image/cssimage/poslatjednotky.png)">
    </li></th>

    <th style="background-image: url(assets/jednotky/jedv6.png)">
      <a href="army-sablony.htm">Jméno (max15zn)</a>
      <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-vesmir.png)" value="10">
        <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-vesmir.png)" value="5">
      </li><li>
      <a class="none" href="army-verbovani.htm">
        <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(image/cssimage/jed-vesmir.png)" value="10">
      </a>
    </li><li>  <input type="text" title="Celkový počet jednotek tohoto typu" style="width: 83px !important; background-image: url(image/cssimage/poslatjednotky.png)">
    </li></th>

  </tr>

  <tr>
    <td colspan="5" style="vertical-align: middle;">

      Přesunout jednotky na planetu

      <select style="float:none !important">
        <option value="planeta">Riches</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
      </select>

      <input style="float:right !important" type="button" value="Odeslat za 0.005 Melanže" class="ok">

    </td>
  </tr>


  </tbody></table>
