<table class="tab3">
  <%= form_tag :vyves_mr_nastenku do %>
      <tr>

        <th style="width: 536px !important">

          <%= submit_tag "ZVEREJNIT NÁSTENKU", :title => "ODESLAT", :class => "ok4" %>
          
          <img style="float:right" src="<%= asset_path 'css/info2.png' %>" title="Je povoleno maximálne 700 znaků v HTML kódu nástěnky! Mezi povolené znaky se počítají i schválené tagy patří <b>, <a>, <i>, <u>, <h2>, <h3>, <img>, <br>, <li> a jejich prové tagy pro zrušení zrušení.">

        </th>

      </tr>
      <tr>
        <td>
          <%= text_area_tag 'dashboard', current_user.subhouse.dashboard, class: 'text_area' %>
        </td>
      </tr>
  <% end %>
</table>