

  <div class="lista">
      <input type="button" style="margin-right: 5px;" value="Facebook" title="Dunaonline.cz na Facebooku" onClick="window.location.href = 'http://www.facebook.com/DunaOnline';">
      <input type="button" value="Google+" title="Dunaonline.cz na Google+" onClick="window.location.href = 'https://plus.google.com/b/113790847689421917030/113790847689421917030/posts';">
      <input type="button" value="DunaCon" title="Klasikon a DunaCon na Festivalu Fantazie v Chotěboři" onClick="window.location.href = 'http://www.klasikon.tleilax.cz/';">
  </div>

