<div id="nava_i">
  <table id="nava2_i">
    <tr>
      <td>
        <ul class="menu">
          <li><a class="menukomunikace" title="Komunikace"></a>

          </li>
        </ul>
      </td>

      <td>
        <ul class="menu">
          <li><a class="menupolitika" title="Politika"></a>

          </li>
        </ul>
      </td>

      <td>
        <ul class="menu">
          <li><a class="menuvyzkum"  title="Ekonomika a výzkum"></a>

        </ul>
      </td>

      <td>
        <ul class="menu">
          <li><a class="menuarmada"  title="Armádní velitelství"></a>

          </li>
        </ul>
      </td>

      <td>
        <ul class="menu">
          <li><a class="menugalaxy"  title="Správa lén"></a>

          </li>
        </ul>
      </td>

    </tr>
  </table>
</div>