<div id="nava">
  <table id="nava2">
    <tr>
      <td>
        <ul class="menu">
          <li><a class="menukomunikace" title="Komunikace"></a>
            <ul>
              <li><a> Soukromá pošta</a>
            </ul>
          </li>
        </ul>
      </td>

      <td>
        <ul class="menu">
          <li><a class="menupolitika" title="Politika"></a>
            <ul>
              <li><a> Statistika přepočtů </a>
            </ul>
          </li>
        </ul>
      </td>

      <td>
        <ul class="menu">
          <li><a class="menuvyzkum"  title="Ekonomika a výzkum"></a>
            <ul>
              <li><a> Ekonomický výzkum</a>
            </ul>
        </ul>
      </td>

      <td>
        <ul class="menu">
          <li><a class="menuarmada"  title="Armádní velitelství"></a>
            <ul>
              <li><a> Armádní statistiky </a>
            </ul>
          </li>
        </ul>
      </td>

      <td>
        <ul class="menu">
          <li><a class="menugalaxy"  title="Správa lén"></a>
            <ul>
              <li><a> Spravovaná území </a>
            </ul>
          </li>
        </ul>
      </td>

    </tr>
  </table>
</div>