<%# encoding: utf-8 %>
<div class="lh">
	Národní nástěnka
</div>
<div class="l">
	<h3>Vůdcové</h3>
		<p>Rozesílejte svým občanům melanž ziskanou z Arrakis (Správa Velkorodu). Potom jsou hráči schopni osídlit léno. 
	
	<h3>Hráči</h3>
		<p>Testujte ekonomiku. Budujte a osidlujte. Nezapomente ze léna na jedné planete se lepe braní.
	
	<h3>Testeři</h3>
		<p>Navštěvujte pravidelně Systémové forum!

</div>