<div class="footer">
  DOv4.0.460 |
  <a href="http://dunaonline.cz/" target="_blank">dunaonline.cz</a> 2011 - <%= Date.today.strftime('%Y') %> |
  <a href="mailto:admin@dunaonline.com">admin@dunaonline.cz</a>
</div>