<div class="footer">
  DOv4.0 |
  <a href="http://dunaonline.cz/" target="_blank">dunaonline.cz</a> 2011 - <%= Date.today.strftime('%Y') %> |
  <a href="admin@dunaonline.com">admin@dunaonline.cz</a>
</div>