<div class="footer">
  DOv4.0 |
  <a href="http://dunaonline.cz/" target="_blank" >dunaonline.cz</a> 2011 - <%= Date.today.strftime('%Y') %> |
  <a href="tar@dunaonline.com">tar@dunaonline.cz</a> |
  <a href="/webadmin" target="_blank" >WebAdmin *</a>
</div>