<td class="prava">

    <div class="rh">
    Malorodni anketa
    </div>
    <div class="r">
        <p>text
    </div>

    <div class="rh">
    Malorodní nástěnka
    </div>
    <div class="r">
        <h3>Nadpis 3</h3>
        <p>text
    </div>

    <div class="rh">
    Systémová nástěnka
    </div>
    <div class="r">
    <h3>Nadpis 3</h3>
        <p>text
    </div>
  
</td>