<%# encoding: utf-8 %>
    <div class="rh">
    Systémová nástěnka
    </div>
    <div class="r">
    <h3>Postup při testování</h3>
        <p>Pro testování je tu Sytémové forum. Sledujte překlepy, pravopisné chyby, nestovnalosti v designu a nelogičnosti v testovaných větvých vývoje. </p>
        <p>Nehotové části jsou v menu označeny hvězdičkou.</p>
     <h3>Testované části</h3>
        <li>Doplňte si informace ve vašem profilu
        <li>Budování na planetách
        <li>Syselaady
     <h3>Komunikace</h3>
        <p>Ke komunikaci mezi hráči využijte Mezinárodní a Národní syselad. Nebojte se podrbat syslíka! </p>
    </div>
