<%# encoding: utf-8 %>

<%= render 'layouts/imperialni_nastenka' %>

<div class="rh">
  Systémová nástěnka
</div>
<div class="r">
  <h3>Testování</h3>
    <p><b>Testujeme ekonomickou část, politiku, komunikaci a výzkum.</b></p>

    <p>Pro testování je tu Systémové forum. Sledujte překlepy, pravopisné chyby, 
    nesrovnalosti v designu a nelogičnosti v testovaných větvých vývoje. </p>

</div>
