<div class="rh">
	Systémová nástěnka
</div>
	<div class="r">
				
		<h3> Hra je uzavřena</h3>
			Hra je ve vývoji a proto je uzavřena. Pro více informací navštivte náše profily na 
			<a href="http://www.facebook.com/DunaOnline">Facebooku</a>
			anebo 
			<a href="https://plus.google.com/b/113790847689421917030/113790847689421917030/posts">Google+</a>
			.
	</div>
		
<div class="rh">
	Odkazy
</div>
	<div class="r" style="text-align:center;">
			
		<li> <a href="http://goauld-game.cz/" class="no" ><%= image_tag("img/gg.jpg", class: "no", alt: "Goauld Game", title: "Goauld Game") %></a>
		<li> <a href="http://encyklopedie.dune.cz/index.htm" class="no"><%= image_tag("img/dunecz.gif", class: "no", alt: "Encyklopedie Duny", title: "Encyklopedie Duny") %></a>

	</div>