<%# encoding: utf-8 %>
<div class="rh">
  Systémová nástěnka
</div>
<div class="r">
  <h3>Testování</h3>
    <p><b>Testujeme ekonomickou část, politiku, komunikaci a výzkum.</b></p>

    <p><b>Nehotové části jsou v menu označeny hvězdičkou.</b></p>

    <p>Pro testování je tu Sytémové forum. Sledujte překlepy, pravopisné chyby, nestovnalosti v designu a nelogičnosti v testovaných větvých vývoje. </p>


  <h3>Komunikace</h3>

  <p>Ke komunikaci mezi hráči využijte Mezinárodní a Národní syselad.</p>
</div>
